<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RLMapLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RLMapLoader.Properties.Settings>
            <setting name="ModFolder" serializeAs="String">
                <value>E:\STEAM\steamapps\common\rocketleague\TAGame\CookedPCConsole\mods\</value>
            </setting>
            <setting name="RLFolder" serializeAs="String">
                <value>E:\STEAM\steamapps\common\rocketleague\</value>
            </setting>
            <setting name="loadMapOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastMap" serializeAs="String">
                <value />
            </setting>
        </RLMapLoader.Properties.Settings>
    </userSettings>
</configuration>